# ignore package directories
packages_git
elpa

# ignore recent file list
recentf

# misc other
auto-save-list
network-security.data
places
semanticdb
tramp
bookmarks
snippets

# backup (tilde) files
*~

# ede generic projects
ede-projects.el